h1 {
    color: blue;
    text-align: center;
}

p {
    color: white;
    background-color: #dc143c;
    padding: 15px;
    border: 10px solid powderblue;
    /* margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px; */
    /* margin: 40px 0px 20px; */
    /* margin:  40px 10px 20px 0px; */
    /* margin: 40px 0px; */
    margin: auto 50px; /* Centrado horizontal */
    text-align: center;
}