*{
    margin: 0;
    padding: 0;
}

h1 { 
    color: pink;
    margin: 15px;
}

h2 { color: purple; }

p {
    color: red;
} 

.tarjeta {
    border: 10px solid purple;
    background-color: seashell;
    text-align: center;
    margin: 15px 100px;
    padding: 15px;
}

.titulo {
    color: royalblue;
}

#titulo_principal {
    color: saddlebrown;
    text-align: center;
    margin: 15px;
}

